body{
    font-family: 'Alegreya', serif;    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

::-webkit-scrollbar {
    width: 10px;
    
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}

header ul{
    margin: 0;
    padding: 0;

}

.button_1{
    height: 38;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;

}

/* header */
header{
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;    
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding{
    margin:  0;
}

header nav{
    float: right;
    margin-right: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight : bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase{
    min-height: 650px;
    background: url('./img/img1.jpeg') no-repeat 0;
    background-size: cover; 
    text-align: left;
    color: #ffffff;
    border-bottom: #e8491d 3px solid;
}
#showcase_action{
    min-height: 1300px;
    background: url('./img/actionpic.jpg') no-repeat 0;
    background-size: cover;
    height: auto;
    text-align: left;
    color: #ffffff;
    border-bottom: #e8491d 3px solid;  
}
div.Empfehlung_D_W{
    color: #e8491d;
    font-weight : bold;

}
div.empfehlungsbild{
    height: 60%;
    width: 100%;
}

#showcase h1{
    margin-top: 0px;
    font-size: 55px;
    margin-bottom: 0px;
}
#showcase_action h1{
    margin-top: 0px;
    font-size: 55px;
    margin-bottom: 0px;
    text-align: center;
}

div.Empf_link{
    color: #e8491d;
    font-weight : bold;
}
div.Actionbild01{
    margin-right: 795px;
    float: right;
}

#showcase p{
    font-size: 20px;
    margin-bottom: 0px;
}
#showcase_action p{
    font-size: 20px;
    margin-bottom: 0px;
}

div.Einleitung_index{

    text-align: left;
    margin-right: 500px;
}

#newsletter{
    padding: 20px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 10px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* boxes */


#boxes{
    margin-top: 20px;
    text-align: center;
}

#boxes .box{
    float: left;
    padding: 15px;
    
}

#boxes .box img{
    width: 300px;
    height: 200px;
}

div.container {
    overflow: auto;
    white-space: nowrap;
    
  }
  
 

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
.contact- section.box{
    background: url('.img/servicesimg.jpeg') no-repeat 0; 
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}

.contact-section h1{
    text-align: center;
    color: #ddd;
}

.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin:40px auto;
}
 
.contact- form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    /*display: block; */
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color:#ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;

}
.contact-form-btn:hover{
    background: #2980b9;

}