/*Versuch 1 */
div.Beispiel1{
    text-align: center;
    
  }
div.BSP2{
    color: red;
}
div.Abgrenzung{
 position:absolute;right:20px;top:100px;
width:100px;height:900px;
background-color:#efefef;
border:1px solid #000000;   
}

