/*Versuch 1 */
div.Beispiel1{
    text-align: center;
    
  }
div.BSP2{
    color: red;
}
div.Abgrenzung{
 position:absolute;right:20px;
width:450px;height:400px;
background-color:#efefef;
border:1px solid #000000;   
}

.header {
     float: left;
     width: 30%;
     margin-right: 3.33333%;
     padding: 20px;
     background: #eee;
     box-sizing: border-box;
}

