/*Versuch 1 */
div.Beispiel1{
    text-align: center;
    
  }
div.BSP2{
    color: red;
}
div.Abgrenzung{
 position:absolute;right:20px;
width:50px;height:50px;
background-color:#efefef;
border:1px solid #000000;   
}

.GlobalHeader {
   word-spacing: 50px;
    text-align: center;
    
    
}
.GlobalFooter{
    word-spacing: 50px;
    text-align: center;
}
 h2{
     :: - webkit-scrollbar-thumb
         background: black;
         border- radius: 10px;
     }
